<h1> Restaurants </h1>
<% @restaurants.each do |restaurant|  %>
  <p> <%= restaurant.name %> </p> <p><%= link_to 'See restaurant', restaurant_path(restaurant.id) %> </p>
<% end %>
<%= link_to 'Create', new_restaurant_path %>
